<!DOCTYPE html>
<!--
	TODO: Task 1, Task 2, Task 3
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
	</head>
	<body>

		<h2>Please Login</h2>

<form method="POST" action="/login" data-th-object="${login}">
		<table>
			<tr>
				<td> 
					<label for="username">Username:</label> 
				</td>
				<td>
					<input type="text" id="username" size="30" 
							placeholder="Please type in your username" data-th-field="*{username}" >
				</td>
				<span class = "error" data-th-if = "${#fields.hasErrors('username')}" data-th-errors = "*{username}" style="color: red
				;"></span>
			</tr>
			<tr>
				<td>
					<label for="password">Password:</label>
				</td>
				<td>
					<input type="password" id="password" size="30" 
							placeholder="Please type in your password" data-th-field="*{password}">
				</td>
				<p><span class = "error" data-th-if = "${#fields.hasErrors('password')}" data-th-errors = "*{password}" style="color: red
				;"></span></p>
			</tr>
			<tr>
				<tr data-th-if="${captcha != null}">
					<td>
						What is <span data-th-text="${captcha.toString()}"></span>?
					</td>
				</tr>
				<tr data-th-if="${captcha!= null}">
					<td>
						<label>Answer:</label>
					</td>
					<td>
						<input type="text" id="answer" placeholder="answer" data-th-field="*{captchaAnswer}" />
						<span data-th-if="${#fields.hasErrors('captchaAnswer')}" data-th-errors="*{captchaAnswer}"
							data-th-errorclass="error"></span>
					</td>
				</tr>
				<tr>
				<td></td>
				<td>
					<button type="submit">Login</button>
				</td>
				
			</tr>
		</table>

	</form>
		
	</body>
</html>
